*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



  
/*ESTO SERIA LA PAGINA INDEX*/

.body-de-paginaweb{
    background-color:#fff;
  
}


.divdenav{
    display: flex;
    background-color:black;
    height: 77px;
    border-bottom: 5px solid #FFD306;
    justify-content: space-around;
    align-items: center;
    
    
}


.div-logo-nav{
    width: 65px;
    height: 60px;
    
}


.navegador  {
    text-decoration: none;
   
}


a {
    text-decoration: none;
    color: white;
    font-family:'arial';
    padding: 3px;
    
}

a:hover{
    text-decoration: none;
    color:#FFD306;
}


.icono{
    color:#fff;
    text-align: right;
    padding-right: 6px ;
    width: 35px;
    
}

.icono:hover{
    color:#FFD306;
}

.inicio{
    color:#fff;
    width: 35px;
    
}


.inicio:hover{
    color: #FFD306;
}



 .titulo {
    font-family:ARIAL;
    color:#FFD306;
    font-size: 28px;
    
    
}

.titulo:hover{
    font-size: 29px;
}



.logofv{
    width: 70px;
    height: 65px;
    
}



.contenedor{
    width: 80%;
    height: 800px;
    background-color:#000;
    box-shadow: -5px 5px 10px 10px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #fff 1px solid;

    
    
    
}


.izquierda,.derecha{
    font-size: 45px;
    cursor: pointer;
    color: #FFD306;
    position: absolute;
    

}
.izquierda{
    margin-right: 1000px;
    display: none;
}

.derecha{
    margin-left: 1000px;
    display: none;
}

.izquierda:hover,.derecha:hover{
    color:white;
}



.img{
    width: 750px;
    height: 750px;
    background-size: cover;
    outline: #FFFFFF solid 1px;
    
    
}


.fdiv{
    margin: 80px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.divparrafo{
    display: flex;
    justify-content: space-between;
    background-color: black;
    
}




.parrafo{
    font-size: 21px;
    color: #fff;
    font-family: sans-serif;

}


h4{
    color:#fff;
    font-family: sans-serif;
    font-size: 25px;
}


h5{
    color:#FFD306;
    font-family: sans-serif;
    font-size: 25px;
}



h6{
    color: #FFD306;
    font-family: sans-serif;
    font-size: 25px;
}


.divsponsor{
    background-color:#000;  
    margin: 5px 0px;  
}

.titulo-sponsor{
    text-align: center;
    padding-top:30px ;
}

.div-sponsor{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height: 200px;
    margin-top: 50px;   

}



.starvie{
    width: 180px;
    height: 100px;
    cursor: pointer;
    
}

.starvie:hover{
    height: 110px;

}

.nox{
    width: 160px;
    height: 100px;
    
}
.nox:hover{
    height: 110px;
}

.babolat{
    width: 230px;
    height: 230px;

}

.babolat:hover{
    height: 210px;
}

.bull{
    width: 200px;
    height: 200px;
}

.bull:hover{
    height: 210px;  
}

.wilson{
    height: 100px;
    width: 280px;
}

.wilson:hover{
    height: 110px;
}


h8{
    color: #FFD306;
    font-size: 25px;
    font-family: arial;

    
}



.divredes{
    height: 190px;
    width: 100%;
    background-color:#000;
    border-top: #FFD306 2px solid ;
    
    
}

.eventos{
    width: 800px;
    height: 600px;
    margin: 20px;
    outline: solid 2px #FFFFFF;
}

.div-parrafo-container{
    margin: 100px 0px;
    text-align: center;

}

.div-container{
    margin-right: 60px; 
    
}

.div-segundo-parrafo{
    margin: 10px;
}

.div-logo{
margin-left: 150px;

}

.logofvf{
    width: 100px;
    height: 100px;
   
    
}

.w,.f,.y,.i,.email-de-footer{
    font-size: 35px;
    color: #fff;
    margin: 5px;
}



.derechos,.derechos2{
    color: #fff;
    font-size: 18px;
    font-family: sans-serif;
}





.w:hover,.f:hover,.y:hover,.i:hover,.email-de-footer:hover{
    color: #FFD306;
}

.div-derechos{
    flex-direction: column;
    text-align: center;
    
}


/* ESTO SERIA LA PAGINA INSCRIPCIONES*/

.comentario{
    max-width: 500px;
    max-height: 300px;
    width: 500px;
    height: 200px;
    background-color:black;
    color:#FFD306;
    font-family: sans-serif;
    box-shadow: -5px 5px 5px #000;
}

.inputs{
    width: 500px;
    height: 40px;
    background-color:black;
    color:#FFD306;
    font-family: sans-serif;
    box-shadow: -5px 5px 5px #000;
}

.inputsc8{
    width: 500px;
    height: 40px;
    background-color:black;
    color:#FFD306;
    font-family: sans-serif;
    box-shadow: -5px 5px 5px #000;
    display: none;
}



.boton{
    width: 500px;
    height: 40px;
    background-color:black;
    color:#FFD306;
    font-family: sans-serif;
    box-shadow: -5px 5px 5px #000;
    margin-top: 20px;
    cursor: pointer;
}


.titulo-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.h1-inscrip{
  color:#FFD306;
  font-size: 23px;
  font-family: sans-serif;
  background-color: #000;
  border:#000 2px solid;
  box-shadow: 5px 5px 7px #000;
  margin-top: 50px ;
}

.formulario-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top:50px ;

}

.formulario-contenido {
  display: flex;
  flex-direction: column;
}

.formulario-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}


.div-tabla-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.titulo-tabla{
  color:#FFD306;
  font-size: 15px;
  font-family: sans-serif;
  background-color: #000;
  border:#000 2px solid;
  box-shadow: 5px 5px 7px #000;
  margin-top: 30px;
  display: none;
  
}



.div-tabla{
color:#fff;
background-color:black;;
font-family: sans-serif;
box-shadow: -5px 5px 5px #000;
margin: 50px 0px;
}


.tabla-container{
   text-align: center;
   display: none;
   
   
   
}

th,td{
    padding: 0px 15px 0px 15px;
    
}


.p-inscrip{
    color: #000;
    font-family:sans-serif;
    font-size: 17px;
    
}

.p-torneoc8{
    color: #000;
    font-family:sans-serif;
    font-size: 17px;
    display: none;
}


.p-categorias{
    color: #000;
    font-family:sans-serif;
    font-size: 17px;
}

.posicion{
    color: #000;
    font-family:sans-serif;
    font-size: 17px;
    margin-left: 870px;
    display: block;
}


.reservas{
    margin-left: 1300px;
    margin-top: -500px;
    font-size: 18px;
    font-family: sans-serif;
    padding: 10px 10px 10px;
    color:black;
    
    
    
}



.divinscripciones{
    height: 190px;
    background-color:#000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}






                                            /* ESTO SERIA LA PAGINA DE CONTACTO */


.div-h2-contacto{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px;
}



.div-parrafo-ubicacion{
    margin: 5px;
    margin-left: 40px;
    
}

.h2-contacto{
    color:#FFD306;
    font-size: 23px;
    font-family: sans-serif;
    background-color: #000;
    border:#000 2px solid;
    box-shadow: 5px 5px 7px #000;

}

.div-contactarte{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 30px;
}

.contactarse{
    color: #000;
    font-family: sans-serif;
    font-size: 18px;
    
}

.div-contactarse{
   margin-left: 100px;

}
.contactarte{
    color: #000;
    font-family: sans-serif;
    font-size: 18px;
}
.formulario-item-contacto{
 margin: 27px 0px;
}

.div-formulariocontainer-contacto{
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    
}

.parrafo-ubicacion{
    font-size: 18px;
    font-family: sans-serif;
    
}



.enviar:hover{
    color:#fff;
}

.ubicacion{
    box-shadow: -5px 5px 15px;    
}


::placeholder{
    color:#FFD306;
    padding: 5px;
}





/* ESTO ES LA PAGINA DE LOGIN */

.logo{
    width: 120px;
    

}

.formulario-item-usuario{   
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
    text-align: center;
}

.div-contenerdor-usuario{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 89px;
    
}

.contenedor-de-acceso{
    width: 500px;
    height: 500px;
    background-color:black;
    border-radius: 4%;
    border: #FFFFFF solid 2px;
    box-shadow: -5px 5px 15px;
}

.div-h1-acceso{
    margin: 20px;
}

.acceso{
    text-align: center;
    color:#FFD306;
    font-size: 25px;
    font-family: sans-serif;
}

.input-usuario{
    width: 400px;
    height: 35px;
    background-color:transparent;
    color:#FFD306;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
}


.c,.u{
    color: #FFD306;
    padding: 5px;
    
}



.ingresar{
    width: 100px;
    height: 30px;
    background-color:black;
    color: #FFD306;
    border: solid 1px #fff;
    cursor: pointer;
    
    
}

.ingresar:hover{
    width: 150px;
}


.olvide,.cuenta{
    color: white;
    font-family: sans-serif;
    
}

.cuenta:hover,.olvide:hover{
    color:#FFD306;
}


.div-redes-login{
    width: 100%;
    height: 190px;
    background-color:#000;
    margin-top: 130px;
    
    
}

/* ESTO SERIA LA PAGINA DE REGISTRO */


.divformulario{
display: flex;
justify-content:center;
align-items: center;
text-align: center;
flex-direction: column;
margin: 59px 0px;
}

.titulo-registro{
margin: 20px 0px;
}


.formulario-de-registro{
    color:#FFD306;
    font-size: 23px;
    font-family: sans-serif;
    background-color: #000;
    border:#000 2px solid;
    box-shadow: 5px 5px 7px #000;
    
    
    
}

.div-p-registro{
margin: 20px 0px;
}


.p-de-registro{
    font-family: sans-serif;
    font-size: 18px;
}



.enviar-datos{
    width: 500px;
    height: 40px;
    color: #FFD306;
    background-color: black;
    cursor: pointer;
    font-family: sans-serif;
    outline: none;
    box-shadow: -5px 5px 5px #000;
    
}


.div-redes-de-registrarse{
    height: 190px;
    background-color:#000;
    
    
}


/* ESTO SERIA LA PAGINA DE OLVIDE CONTRASEÑA */


.contenedor-de-olvide-contreseña{
    display: flex;
    justify-content: center;
    margin: 185px 0px;
    
    
}
.contenedor-olvide{
    width: 740px;
    height: 300px;
    border:#fff 2px solid;
    box-shadow: 5px 5px 15px #000;
    background-color: #000;
    
    
}


.div-p-olvide{
    background-color: #FFD306;
    height: 40px;
    text-align: center;
}

.p-olvide{
    color: #000;
    font-family: sans-serif;
    font-size: 14px;
    padding: 10px 0px;
}


.div-botones{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    margin: 90px 0px;
    
    
}


.ingrese-su-email{
    color:#FFD306;
    width: 500px;
    height: 40px;
    outline: none;
    background-color:transparent;
    border: none;
    border-bottom: 1px solid #fff;
}

.div-recuperar-contraseña{
    margin: 20px 0;
}


.recuperar-contraseña{
    background-color: #000;
    color: #FFD306;
    cursor: pointer;
    width: 150px;
    height: 30px;

}


.volver{
    background-color: #000;
    color: #FFD306;
    cursor: pointer;
    width: 150px;
    height: 30px;
    text-align: center;
}



